<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkOutApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LoadExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".StartExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".SetExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".TimerActivity"
            android:exported="true" />
        <activity
            android:name=".SelectExercise"
            android:exported="true" />
        <activity
            android:name=".CreatePlanActivity"
            android:exported="false" />
        <activity
            android:name=".FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".FindAccountActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity4"
            android:exported="true" />
        <activity
            android:name=".QuestionActivity3"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity2"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity1"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity0"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>